/* ManagementHeader Styles */
.management-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3748; /* Tailwind bg-gray-800 */
    color: #ffffff;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
  }
  
  .header-logo {
    font-weight: bold;
    font-size: 1.25rem; /* Tailwind text-lg */
    text-decoration: none;
    color: #ffffff;
  }
  .header-logo img{
    width: 100px;
    height: 100px;
  }
  
  .header-links {
    display: flex;
    gap: 1rem; /* Tailwind gap-4 */
  }
  
  .header-link {
    text-decoration: none;
    color: #ffffff;
    transition: text-decoration 0.3s ease;
  }
  
  .header-link:hover {
    text-decoration: underline; /* Tailwind hover:underline */
  }
  