.address-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .address-item.selected  {
    background-color: #f0f0f0;
  }
  
  .address-item .info {
    font: 1em sans-serif;
    font-size:larger;
    flex: 1;
  }
  
  .address-item .actions {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }

  .address-form div {
    margin-bottom: 10px;
  }
  
  .address-form label {
    display: block;
    font-weight: bold;
  }
  
  .address-form input[type="text"],
  .address-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  .item-selected{
    color:red;
    font-style: italic;
  }
  .default-address-check{
    display: flex;
    flex-direction: row;
  }

  button {
    margin-right: 10px;
  }
  
  