.product-card {
    width: 250px;
    border: 2px solid #457d58;
    display: block;
    margin: 0 auto;
}
.product-card:hover{
    border-radius: 10%;
    border:#f2ae1c 3px solid;
    box-shadow: 0px 0px 10px #f2ae1c;
    .card-link {
        color:#f2ae1c;
    }
    .card-price{
        color:#272727;
    }
}
.card-price{
    font-weight: bold;
    color: #f2ae1c;
}
.product-card .card-img{
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
.product-card .card-title{
    color:rgb(0, 0, 0);
    margin: 5px 15px;
}
.product-card .card-price{
    margin: 10px 15px 20px 15px;
}
.product-card .card-link{
    text-decoration: none;
    height: 48px; /* hoặc số dòng cố định, ví dụ 2 dòng */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* số dòng muốn hiển thị */
    -webkit-box-orient: vertical;
}